*{
    margin: 0;
    padding: 0;
}
.bot1{
    border-radius: 5%;
    background-color: antiquewhite;

}
.bas{
    display: flex;  
    text-align: center;
    margin-right: 35px; 
}
.img1{
        img {
    display: block;
    margin: 0 auto; 
    margin-top: 20px; 
    margin-bottom: 20px;
    border-radius: 10%;
}}
.text{
    text-justify: auto;
    text-align: center;
}
h3{
    margin-bottom: 10px;
}
.p{
    margin-bottom: 20px;
}
.main{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    padding: 400px;
}
.bot2{
    background-image: url(/image/OIP.webp);
    background-size: cover;
    background-position: center;
    border-radius: 5%;
    padding: 10px;
}

.text2{
    margin-top: 300PX;
    text-align: center;
}